.bg-ultraviolet {
  background: #9f78ff;
  color: white;
}
.bg-ultraviolet-light {
  background: #C9BFFF;
  color: white;
}
.is-inactive {
  background-color: white;
}
.card-deck .d-flex {
  margin-right: 1rem;
}
@media (max-width: 900px) {
  .card-deck {
    flex-direction: column;
  }
  .card-deck .card {
    margin-bottom: 1.0em;
  }
  .card-deck .d-flex .btn {
    width: 50%;
  }
  .card-deck .d-flex {
    margin-right: 0;
  }
}
