.bg-ultraviolet {
  background: #9f78ff;
  color: white;
}
.bg-ultraviolet-light {
  background: #C9BFFF;
  color: white;
}
.is-inactive {
  background-color: white;
}

@media (max-width: 900px) {
  .card-deck {
    display: flex;
    flex-direction: column;
  }
}
